In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
df=pd.read_csv('C:/Users/Dell/Desktop/Interview.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 28 columns):
Date of Interview                                                                                     1233 non-null object
Client name                                                                                           1234 non-null object
Industry                                                                                              1233 non-null object
Location                                                                                              1233 non-null object
Position to be closed                                                                                 1233 non-null object
Nature of Skillset                                                                                    1233 non-null object
Interview Type                                                                                        1233 non-null object
Name(Cand ID)                                                                                         1233 non-null object
Gender                                                                                                1233 non-null object
Candidate Current Location                                                                            1233 non-null object
Candidate Job Location                                                                                1233 non-null object
Interview Venue                                                                                       1233 non-null object
Candidate Native location                                                                             1233 non-null object
Have you obtained the necessary permission to start at the required time                              1029 non-null object
Hope there will be no unscheduled meetings                                                            986 non-null object
Can I Call you three hours before the interview and follow up on your attendance for the interview    986 non-null object
Can I have an alternative number/ desk number. I assure you that I will not trouble you too much      986 non-null object
Have you taken a printout of your updated resume. Have you read the JD and understood the same        985 non-null object
Are you clear with the venue details and the landmark.                                                985 non-null object
Has the call letter been shared                                                                       988 non-null object
Expected Attendance                                                                                   1228 non-null object
Observed Attendance                                                                                   1233 non-null object
Marital Status                                                                                        1233 non-null object
Unnamed: 23                                                                                           0 non-null float64
Unnamed: 24                                                                                           0 non-null float64
Unnamed: 25                                                                                           0 non-null float64
Unnamed: 26                                                                                           0 non-null float64
Unnamed: 27                                                                                           0 non-null float64
dtypes: float64(5), object(23)
memory usage: 270.0+ KB

In [3]:
df.drop(["Unnamed: 23",'Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27'],axis=1,inplace=True)
df.columns=['date','client','industry','location','closedpos','skills','type','id','gender','currloc','jobloc','venue','natloc','permit','meeting','call','no.','resume','clear','letter','expat','obsat','marit']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 23 columns):
date         1233 non-null object
client       1234 non-null object
industry     1233 non-null object
location     1233 non-null object
closedpos    1233 non-null object
skills       1233 non-null object
type         1233 non-null object
id           1233 non-null object
gender       1233 non-null object
currloc      1233 non-null object
jobloc       1233 non-null object
venue        1233 non-null object
natloc       1233 non-null object
permit       1029 non-null object
meeting      986 non-null object
call         986 non-null object
no.          986 non-null object
resume       985 non-null object
clear        985 non-null object
letter       988 non-null object
expat        1228 non-null object
obsat        1233 non-null object
marit        1233 non-null object
dtypes: object(23)
memory usage: 221.8+ KB

In [5]:
df['date'].isnull().sum()

1

In [6]:
df.drop(df.index[df["date"].isnull()],axis=0,inplace=True)

In [7]:
df["date"].unique()

array(['13.02.2015', '19.06.2015', '23.06.2015', '29.06.2015',
       '25.06.2015', '25.05.16', '25.5.2016', '25-05-2016', '25.05.2016',
       '04-12-2016', '13.04.2016', '27.02.2016', '07.05.2016', '5.5.16',
       '4.5.16', '21.4.16', '22.4.16', '23.4.16', '15-Apr-16', '19-Apr-16',
       '20-Apr-16', '21-Apr-16', '22-Apr-16', '25 – Apr-16', '25-Apr-16',
       '18-Apr-16', '11.5.16', '10.5.16', '11.05.16', '12.04.2016',
       '12.04.2017', '12.04.2018', '12.04.2019', '12.04.2020',
       '12.04.2021', '12.04.2022', '12.04.2023', '8.5.16', '7.5.16',
       '19.03.16', '24.05.2016', '05-11-2016', '26-05-2016', '10.05.2016',
       '28.08.2016 & 09.00 AM', '28.08.2016 & 9.30 AM',
       '28.8.2016 & 12.00 PM', '28.08.2016 & 09.30 AM',
       '28.8.2016 & 10.30 AM', '28.8.2016 & 09.30 AM',
       '28.8.2016 & 04.00 PM', '28.08.2016 & 11.30 AM',
       '28.08.2016 & 11.00 AM', '28.08.2016 & 10.30 AM',
       '28.8.2016 & 03.00 PM', '28.08.2016 & 10.00 AM',
       '28.8.2016 & 02.00 PM', '28.8.2016 & 11.00 AM', '13.06.2016',
       '02.09.2016', '02.12.2015', '23.02.2016', '22.03.2016',
       '26.02.2016', '06.02.2016', '21.4.2016', '21-04-2016', '21.4.15',
       '22.01.2016', '3.6.16', '03-06-2016', '09.01.2016', '09-01-2016',
       '03.04.2015', '13-03-2015', '17-03-2015', '17.03.2015',
       '18.03.2014', '4.04.15', '16.04.2015', '17.04.2015', '9.04.2015',
       '05-02-2015', '30.05.2016', '07.06.2016', '20.08.2016',
       '14.01.2016', '30.1.16 ', '30.01.2016', '30-01-2016', '30.1.16',
       '30.1.2016', '30.01.16', '06.05.2016'], dtype=object)

In [8]:
df.date=df.date.str.replace(" ","")

In [9]:
df.date.unique()

array(['13.02.2015', '19.06.2015', '23.06.2015', '29.06.2015',
       '25.06.2015', '25.05.16', '25.5.2016', '25-05-2016', '25.05.2016',
       '04-12-2016', '13.04.2016', '27.02.2016', '07.05.2016', '5.5.16',
       '4.5.16', '21.4.16', '22.4.16', '23.4.16', '15-Apr-16', '19-Apr-16',
       '20-Apr-16', '21-Apr-16', '22-Apr-16', '25–Apr-16', '25-Apr-16',
       '18-Apr-16', '11.5.16', '10.5.16', '11.05.16', '12.04.2016',
       '12.04.2017', '12.04.2018', '12.04.2019', '12.04.2020',
       '12.04.2021', '12.04.2022', '12.04.2023', '8.5.16', '7.5.16',
       '19.03.16', '24.05.2016', '05-11-2016', '26-05-2016', '10.05.2016',
       '28.08.2016&09.00AM', '28.08.2016&9.30AM', '28.8.2016&12.00PM',
       '28.08.2016&09.30AM', '28.8.2016&10.30AM', '28.8.2016&09.30AM',
       '28.8.2016&04.00PM', '28.08.2016&11.30AM', '28.08.2016&11.00AM',
       '28.08.2016&10.30AM', '28.8.2016&03.00PM', '28.08.2016&10.00AM',
       '28.8.2016&02.00PM', '28.8.2016&11.00AM', '13.06.2016',
       '02.09.2016', '02.12.2015', '23.02.2016', '22.03.2016',
       '26.02.2016', '06.02.2016', '21.4.2016', '21-04-2016', '21.4.15',
       '22.01.2016', '3.6.16', '03-06-2016', '09.01.2016', '09-01-2016',
       '03.04.2015', '13-03-2015', '17-03-2015', '17.03.2015',
       '18.03.2014', '4.04.15', '16.04.2015', '17.04.2015', '9.04.2015',
       '05-02-2015', '30.05.2016', '07.06.2016', '20.08.2016',
       '14.01.2016', '30.1.16', '30.01.2016', '30-01-2016', '30.1.2016',
       '30.01.16', '06.05.2016'], dtype=object)

In [10]:
df.date=df.date.str.replace(r'&\d[\d].\d\d\w\w','')

In [11]:
df.date=df.date.str.replace(r'&\d.\d\d\w\w','')

In [12]:
df.date=df.date.str.replace('/','.')

In [13]:
df.date=df.date.str.replace('-Apr-','.04.')

In [14]:
df.date=df.date.str.replace('–Apr-','.04.')

In [15]:
df.date=df.date.str.replace('Apr','.04.')

In [16]:
#df.date=df.date.str.replace('.16','.2016')

In [17]:
#df.date=df.date.str.replace('.15','.2015')
df.date=df.date.str.replace(r'\W16','.2016')
df.date=df.date.str.replace(r'\W15','.2015')
df.date=df.date.str.replace('-','.')

In [18]:
df.date.unique()

array(['13.02.2015', '19.06.2015', '23.06.2015', '29.06.2015',
       '25.06.2015', '25.05.2016', '25.5.2016', '04.12.2016', '13.04.2016',
       '27.02.2016', '07.05.2016', '5.5.2016', '4.5.2016', '21.4.2016',
       '22.4.2016', '23.4.2016', '15.04.2016', '19.04.2016', '20.04.2016',
       '21.04.2016', '22.04.2016', '25.04.2016', '18.04.2016', '11.5.2016',
       '10.5.2016', '11.05.2016', '12.04.2016', '12.04.2017', '12.04.2018',
       '12.04.2019', '12.04.2020', '12.04.2021', '12.04.2022',
       '12.04.2023', '8.5.2016', '7.5.2016', '19.03.2016', '24.05.2016',
       '05.11.2016', '26.05.2016', '10.05.2016', '28.08.2016', '28.8.2016',
       '13.06.2016', '02.09.2016', '02.12.2015', '23.02.2016',
       '22.03.2016', '26.02.2016', '06.02.2016', '21.4.2015', '22.01.2016',
       '3.6.2016', '03.06.2016', '09.01.2016', '03.04.2015', '13.03.2015',
       '17.03.2015', '18.03.2014', '4.04.2015', '16.04.2015', '17.04.2015',
       '9.04.2015', '05.02.2015', '30.05.2016', '07.06.2016', '20.08.2016',
       '14.01.2016', '30.1.2016', '30.01.2016', '06.05.2016'], dtype=object)

In [19]:
from datetime import datetime
df['date']=pd.to_datetime(df['date'],format='%d.%m.%Y')
df.date.unique()

array(['2015-02-13T00:00:00.000000000', '2015-06-19T00:00:00.000000000',
       '2015-06-23T00:00:00.000000000', '2015-06-29T00:00:00.000000000',
       '2015-06-25T00:00:00.000000000', '2016-05-25T00:00:00.000000000',
       '2016-12-04T00:00:00.000000000', '2016-04-13T00:00:00.000000000',
       '2016-02-27T00:00:00.000000000', '2016-05-07T00:00:00.000000000',
       '2016-05-05T00:00:00.000000000', '2016-05-04T00:00:00.000000000',
       '2016-04-21T00:00:00.000000000', '2016-04-22T00:00:00.000000000',
       '2016-04-23T00:00:00.000000000', '2016-04-15T00:00:00.000000000',
       '2016-04-19T00:00:00.000000000', '2016-04-20T00:00:00.000000000',
       '2016-04-25T00:00:00.000000000', '2016-04-18T00:00:00.000000000',
       '2016-05-11T00:00:00.000000000', '2016-05-10T00:00:00.000000000',
       '2016-04-12T00:00:00.000000000', '2017-04-12T00:00:00.000000000',
       '2018-04-12T00:00:00.000000000', '2019-04-12T00:00:00.000000000',
       '2020-04-12T00:00:00.000000000', '2021-04-12T00:00:00.000000000',
       '2022-04-12T00:00:00.000000000', '2023-04-12T00:00:00.000000000',
       '2016-05-08T00:00:00.000000000', '2016-03-19T00:00:00.000000000',
       '2016-05-24T00:00:00.000000000', '2016-11-05T00:00:00.000000000',
       '2016-05-26T00:00:00.000000000', '2016-08-28T00:00:00.000000000',
       '2016-06-13T00:00:00.000000000', '2016-09-02T00:00:00.000000000',
       '2015-12-02T00:00:00.000000000', '2016-02-23T00:00:00.000000000',
       '2016-03-22T00:00:00.000000000', '2016-02-26T00:00:00.000000000',
       '2016-02-06T00:00:00.000000000', '2015-04-21T00:00:00.000000000',
       '2016-01-22T00:00:00.000000000', '2016-06-03T00:00:00.000000000',
       '2016-01-09T00:00:00.000000000', '2015-04-03T00:00:00.000000000',
       '2015-03-13T00:00:00.000000000', '2015-03-17T00:00:00.000000000',
       '2014-03-18T00:00:00.000000000', '2015-04-04T00:00:00.000000000',
       '2015-04-16T00:00:00.000000000', '2015-04-17T00:00:00.000000000',
       '2015-04-09T00:00:00.000000000', '2015-02-05T00:00:00.000000000',
       '2016-05-30T00:00:00.000000000', '2016-06-07T00:00:00.000000000',
       '2016-08-20T00:00:00.000000000', '2016-01-14T00:00:00.000000000',
       '2016-01-30T00:00:00.000000000', '2016-05-06T00:00:00.000000000'], dtype='datetime64[ns]')

In [20]:
type(df['date'])

pandas.core.series.Series

In [21]:
type(df.iloc[0,0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
df.info()

In [ ]:
df['client'].unique()

In [ ]:
df['client'].replace({'Hospira':'H','Aon Hewitt':'A','UST':'U','Standard Chartered Bank':'S','ANZ':'A1','Pfizer':'P','Standard Chartered Bank Chennai':'S','Aon hewitt Gurgaon':'A','Astrazeneca':'As','Flextronics':'F','Prodapt':'P1','Williams Lea':'W','Barclays':'B','Hewitt':'A','Woori Bank':'Wb'},inplace=True)

In [ ]:
df.client.unique()

In [ ]:
df['industry'].unique()

In [ ]:
df.describe()

In [ ]:
df['industry'].replace({'Pharmaceuticals':'P','IT Services':'I','IT Products and Services':'I','Electronics':'E','Telecom':'E','IT':'I','BFSI':'B'},inplace=True)

In [ ]:
df['industry'].unique()

In [ ]:
df.meeting.unique()

In [ ]:
df[df.meeting.isnull()]

In [ ]:
df.drop(df.index[df.meeting.isnull()],axis=0,inplace=True)

In [ ]:
df.meeting.value_counts()

In [ ]:
df.meeting.replace({'Yes':'Y','Na':'N','No':'N','yes':'Y','Not sure':'N','Not Sure':'N','cant Say':'N'},inplace=True)

In [ ]:
df.meeting.unique()

In [ ]:
df.meeting.value_counts()

In [ ]:
df.info()

In [ ]:
df[df["permit"].isnull()]

In [ ]:
df.drop(df.index[df.permit.isnull()],axis=0,inplace=True)

In [ ]:
df.permit.unique()

In [ ]:
df.permit.replace({'Yes':'Y','No':'N','Not yet':'N','Yet to confirm':'N','yes':'Y','Na':'N'},inplace=True)

In [ ]:
df.permit.unique()

In [ ]:
df.info()

In [ ]:
df[df.resume.isnull()]

In [ ]:
df.drop(df.index[df.resume.isnull()],axis=0,inplace=True)

In [ ]:
df.info()

In [ ]:
df.marit.unique()

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df.loc[:,"marit"]=le.fit_transform(df.loc[:,"marit"])

In [ ]:
df.marit.unique()

In [ ]:
df.obsat.unique()

In [ ]:
df.obsat.replace({'No':'N','Yes':'Y','yes':'Y','no':'N','yes ':'Y','No ':'N','NO':'N','no ':'N'},inplace=True)

In [ ]:
df.loc[:,'obsat']=le.fit_transform(df.loc[:,'obsat'])

In [ ]:
df.obsat.unique()

In [ ]:
df["obsat"]

In [ ]:
df.permit.unique()

In [ ]:
df['permit']=le.fit_transform(df['permit'])

In [ ]:
df.permit.unique()

In [ ]:
df.info()

In [ ]:
df['expat'].unique()

In [ ]:
df['expat'].replace({'Yes':'Y','Uncertain':'N','No':'N','yes':'Y','11:00 AM':'Y','10.30 Am':'Y'},inplace=True)

In [ ]:
df['expat']=le.fit_transform(df['expat'])

In [ ]:
df.expat.unique()

In [ ]:
df['letter'].unique()

In [ ]:
df['letter'].replace({'Yes':'Y', 'Havent Checked':'N', 'No':'N', 'Need To Check':'N', 'Not sure':'N','Not Sure':'N', 'Not yet':'N', 'no':'N', 'yes':'Y', 'Na':'N'},inplace=True)

In [ ]:
df['letter']=le.fit_transform(df['letter'])

In [ ]:
df.letter.unique()

In [ ]:
df['clear'].unique()

In [ ]:
df['clear'].replace({'Yes':'Y', 'No':'N', 'No- I need to check':'N', 'yes':'Y', 'Na':'N', 'no':'N'},inplace=True)

In [ ]:
df['clear']=le.fit_transform(df['clear'])

In [ ]:
df['clear'].unique()

In [ ]:
df['resume'].unique()

In [ ]:
df['resume'].replace({'Yes':'Y', 'No':'N', 'No- will take it soon':'N', 'Not yet':'N', 'yes':'Y', 'Na':'N',
       'Not Yet':'N'},inplace=True)

In [ ]:
df['resume']=le.fit_transform(df['resume'])

In [ ]:
df['resume'].unique()

In [ ]:
df['no.'].unique()

In [ ]:
df['no.'].replace({'Yes':'Y', 'No':'N', 'No I have only thi number':'N', 'yes':'Y', 'Na':'N'},inplace=True)

In [ ]:
df['no.']=le.fit_transform(df['no.'])

In [ ]:
df['no.'].unique()

In [ ]:
df['call'].unique()

In [ ]:
df['call'].replace({'Yes':'Y', 'No':'N', 'No Dont':'N', 'yes':'Y', 'Na':'N'},inplace=True)

In [ ]:
df['call']=le.fit_transform(df['call'])

In [ ]:
df['call'].unique()

In [ ]:
df['natloc'].unique()

In [ ]:
df.currloc.unique()

In [ ]:
df.currloc.replace({'Chennai':'C','Gurgaon':'G','Bangalore':'B','Hyderabad':'H','Delhi':'D','chennai':'C','- Cochin- ':'K','Noida':'N','CHENNAI':'C','chennai ':'C'},inplace=True)

In [ ]:
df=pd.concat([df,pd.get_dummies(df['currloc'],prefix='cl_')],axis=1)

In [ ]:
df.drop('currloc',axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df.venue.unique()

In [ ]:
df.venue.replace({'Hosur':'H', 'Gurgaon':'G', 'Bangalore':'B', 'Chennai':'C', 'Hyderabad':'H',
       '- Cochin- ':'K', 'Noida':'N'},inplace=True)

In [ ]:
df=pd.concat([df,pd.get_dummies(df['venue'],prefix='ven_')],axis=1)

In [ ]:
df.drop('venue',axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df.jobloc.unique()

In [ ]:
df.jobloc.replace({'Hosur':'H', 'Bangalore':'B', 'Chennai':"C", 'Gurgaon':'G', 'Visakapatinam':'V',
       '- Cochin- ':'K', 'Noida':'N'},inplace=True)

In [ ]:
df=pd.concat([df,pd.get_dummies(df['jobloc'],prefix='job_')],axis=1)

In [ ]:
df.drop('jobloc',axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df.gender.unique()

In [ ]:
df['gender']=le.fit_transform(df['gender'])

In [ ]:
df.gender.unique()

In [ ]:
df.id.unique()

In [ ]:
df.head()

In [ ]:
df.drop('id',axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df['type'].unique()

In [ ]:
df['type'].replace({'Scheduled Walkin':'SW', 'Scheduled ':'S', 'Walkin':'W', 'Scheduled Walk In':'SW',
       'Walkin ':'W'},inplace=True)

In [ ]:
df=pd.concat([df,pd.get_dummies(df['type'],prefix='type_')],axis=1)

In [ ]:
df.info()

In [ ]:
df.skills.unique()

In [ ]:
df.closedpos.unique()

In [ ]:
df.location.unique()

In [ ]:
df.location.replace({'Chennai':'C', 'Gurgaon':'G', 'Bangalore':'B', 'Hyderabad':'H', 'Gurgaonr':'G',
       'Delhi':'D', 'chennai':'C', '- Cochin- ':'K', 'Noida':'N', 'CHENNAI':'C', 'chennai ':'C'},inplace=True)

In [ ]:
df=pd.concat([df,pd.get_dummies(df['location'],prefix='loc_')],axis=1)

In [ ]:
df.drop('location',axis=1,inplace=True)

In [ ]:
df.drop('type',axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df.client.unique()

In [ ]:
df.industry.unique()

In [ ]:
df=pd.concat([df,pd.get_dummies(df['industry'],prefix='indust_')],axis=1)
df.drop('industry',axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df.closedpos.unique()

In [ ]:
df.drop('cl__B',axis=1,inplace=True)

In [ ]:
df.drop('ven__B',axis=1,inplace=True)

In [ ]:
df.drop('job__B',axis=1,inplace=True)

In [ ]:
df.drop('type__S',axis=1,inplace=True)

In [ ]:
df.drop('loc__B',axis=1,inplace=True)
df.drop('indust__B',axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.skills.unique()

In [ ]:
X=df.drop('date',axis=1)
X=X.drop('client',axis=1)
X=X.drop('closedpos',axis=1)
X=X.drop('skills',axis=1)
X=X.drop('obsat',axis=1)

In [ ]:
df.resume.unique()

In [ ]:
#X=X.drop('natloc',axis=1)
X.meeting=le.fit_transform(X['meeting'])
X.info()

In [ ]:
y=df['obsat']

In [ ]:
from sklearn import model_selection
Xtrain,Xtest,ytrain,ytest=model_selection.train_test_split(X,y,test_size=0.25,random_state=42)

In [ ]:
from sklearn import linear_model
model=linear_model.LogisticRegression()
model.fit(Xtrain,ytrain)
pred_train=model.predict(Xtrain)
pred_test=model.predict(Xtest)

In [ ]:
import sklearn
print(sklearn.metrics.classification_report(ytest,pred_test))

In [ ]:
X=X.drop('expat',axis=1)

In [ ]:
from sklearn import model_selection
Xtrain,Xtest,ytrain,ytest=model_selection.train_test_split(X,y,test_size=0.25,random_state=42)
from sklearn import linear_model
model=linear_model.LogisticRegression()
model.fit(Xtrain,ytrain)
pred_train=model.predict(Xtrain)
pred_test=model.predict(Xtest)
import sklearn
print(sklearn.metrics.classification_report(ytrain,pred_train))

In [ ]:
print(sklearn.metrics.classification_report(ytest,pred_test))

In [ ]:
df.obsat.unique()

In [ ]:
df[df.obsat==0]

In [ ]:
df.info()

In [ ]:
df1=df.drop('skills',axis=1)
df1=df1.drop('closedpos',axis=1)
df1=df1.drop('natloc',axis=1)

In [ ]:
(df1.loc__C==0).sum()

In [ ]:
(df1[(df1.indust__B==0) & (df1.obsat==0)]).shape

In [ ]:
(df1[(df1.indust__E==0) & (df1.obsat==0)]).shape

In [ ]:
(df1[(df1.indust__I==0) & (df1.obsat==0)]).shape

In [ ]:
(df1[(df1.indust__P==0) & (df1.obsat==0)]).shape

In [ ]:
print (df1[(df1.gender==0) & (df1.marit==0) & (df1.obsat==1)].shape[0]/(df1.obsat==1).sum())

In [ ]:
print (df1[(df1.gender==0) & (df1.marit==1) & (df1.obsat==1)].shape[0]/(df1.obsat==1).sum())

In [ ]:
print (df1[(df1.gender==1) & (df1.marit==1) & (df1.obsat==1)].shape[0]/(df1.obsat==1).sum())

In [ ]:
print (df1[(df1.gender==1) & (df1.marit==0) & (df1.obsat==1)].shape[0]/(df1.obsat==1).sum())