In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
df=pd.read_csv('C:/Users/Dell/Desktop/Interview.csv')
df.drop(["Unnamed: 23",'Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27'],axis=1,inplace=True)
df.columns=['date','client','industry','location','closedpos','skills','type','id','gender','currloc','jobloc','venue','natloc','permit','meeting','call','no.','resume','clear','letter','expat','obsat','marit']
df.drop(df.index[df["date"].isnull()],axis=0,inplace=True)
df.date=df.date.str.replace(" ","")
df.date=df.date.str.replace(r'&\d[\d].\d\d\w\w','')
df.date=df.date.str.replace(r'&\d.\d\d\w\w','')
df.date=df.date.str.replace('/','.')
df.date=df.date.str.replace('-Apr-','.04.')
df.date=df.date.str.replace('â€“Apr-','.04.')
df.date=df.date.str.replace('Apr','.04.')
df.date=df.date.str.replace(r'\W16','.2016')
df.date=df.date.str.replace(r'\W15','.2015')
df.date=df.date.str.replace('-','.')
from datetime import datetime
df['date']=pd.to_datetime(df['date'],format='%d.%m.%Y')
df['client'].replace({'Hospira':'H','Aon Hewitt':'A','UST':'U','Standard Chartered Bank':'S','ANZ':'A1','Pfizer':'P','Standard Chartered Bank Chennai':'S','Aon hewitt Gurgaon':'A','Astrazeneca':'As','Flextronics':'F','Prodapt':'P1','Williams Lea':'W','Barclays':'B','Hewitt':'A','Woori Bank':'Wb'},inplace=True)
df['industry'].replace({'Pharmaceuticals':'P','IT Services':'I','IT Products and Services':'I','Electronics':'E','Telecom':'E','IT':'I','BFSI':'B'},inplace=True)
df.drop(df.index[df.meeting.isnull()],axis=0,inplace=True)
df.meeting.replace({'Yes':'Y','Na':'N','No':'N','yes':'Y','Not sure':'N','Not Sure':'N','cant Say':'N'},inplace=True)
df[df["permit"].isnull()]
df.drop(df.index[df.permit.isnull()],axis=0,inplace=True)
df.permit.replace({'Yes':'Y','No':'N','Not yet':'N','Yet to confirm':'N','yes':'Y','Na':'N'},inplace=True)
df.drop(df.index[df.resume.isnull()],axis=0,inplace=True)
df.obsat.replace({'No':'N','Yes':'Y','yes':'Y','no':'N','yes ':'Y','No ':'N','NO':'N','no ':'N'},inplace=True)
df['expat'].replace({'Yes':'Y','Uncertain':'N','No':'N','yes':'Y','11:00 AM':'Y','10.30 Am':'Y'},inplace=True)
df['letter'].replace({'Yes':'Y', 'Havent Checked':'N', 'No':'N', 'Need To Check':'N', 'Not sure':'N','Not Sure':'N', 'Not yet':'N', 'no':'N', 'yes':'Y', 'Na':'N'},inplace=True)
df['clear'].replace({'Yes':'Y', 'No':'N', 'No- I need to check':'N', 'yes':'Y', 'Na':'N', 'no':'N'},inplace=True)
df['resume'].replace({'Yes':'Y', 'No':'N', 'No- will take it soon':'N', 'Not yet':'N', 'yes':'Y', 'Na':'N',
       'Not Yet':'N'},inplace=True)
df['no.'].replace({'Yes':'Y', 'No':'N', 'No I have only thi number':'N', 'yes':'Y', 'Na':'N'},inplace=True)
df['call'].replace({'Yes':'Y', 'No':'N', 'No Dont':'N', 'yes':'Y', 'Na':'N'},inplace=True)
df.currloc.replace({'Chennai':'C','Gurgaon':'G','Bangalore':'B','Hyderabad':'H','Delhi':'D','chennai':'C','- Cochin- ':'K','Noida':'N','CHENNAI':'C','chennai ':'C'},inplace=True)
df.venue.replace({'Hosur':'H', 'Gurgaon':'G', 'Bangalore':'B', 'Chennai':'C', 'Hyderabad':'H',
       '- Cochin- ':'K', 'Noida':'N'},inplace=True)
df.jobloc.replace({'Hosur':'H', 'Bangalore':'B', 'Chennai':"C", 'Gurgaon':'G', 'Visakapatinam':'V',
       '- Cochin- ':'K', 'Noida':'N'},inplace=True)
df.drop('id',axis=1,inplace=True)
df['type'].replace({'Scheduled Walkin':'SW', 'Scheduled ':'S', 'Walkin':'W', 'Scheduled Walk In':'SW',
       'Walkin ':'W'},inplace=True)
df.location.replace({'Chennai':'C', 'Gurgaon':'G', 'Bangalore':'B', 'Hyderabad':'H', 'Gurgaonr':'G',
       'Delhi':'D', 'chennai':'C', '- Cochin- ':'K', 'Noida':'N', 'CHENNAI':'C', 'chennai ':'C'},inplace=True)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 1231
Data columns (total 22 columns):
date         984 non-null datetime64[ns]
client       984 non-null object
industry     984 non-null object
location     984 non-null object
closedpos    984 non-null object
skills       984 non-null object
type         984 non-null object
gender       984 non-null object
currloc      984 non-null object
jobloc       984 non-null object
venue        984 non-null object
natloc       984 non-null object
permit       984 non-null object
meeting      984 non-null object
call         984 non-null object
no.          984 non-null object
resume       984 non-null object
clear        984 non-null object
letter       984 non-null object
expat        984 non-null object
obsat        984 non-null object
marit        984 non-null object
dtypes: datetime64[ns](1), object(21)
memory usage: 176.8+ KB

In [3]:
df.head()

,date,client,industry,location,closedpos,skills,type,gender,currloc,jobloc,...,permit,meeting,call,no.,resume,clear,letter,expat,obsat,marit
0,2015-02-13,H,P,C,Production- Sterile,Routine,SW,Male,C,H,...,Y,Y,Y,Y,Y,Y,Y,Y,N,Single
1,2015-02-13,H,P,C,Production- Sterile,Routine,SW,Male,C,B,...,Y,Y,Y,Y,Y,Y,Y,Y,N,Single
3,2015-02-13,H,P,C,Production- Sterile,Routine,SW,Male,C,C,...,Y,Y,N,Y,N,Y,Y,N,N,Single
4,2015-02-13,H,P,C,Production- Sterile,Routine,SW,Male,C,B,...,Y,Y,Y,N,Y,Y,Y,N,N,Married
5,2015-02-13,A,I,G,Selenium testing,Routine,SW,Male,G,G,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Single

In [4]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df.loc[:,"obsat"]=le.fit_transform(df.loc[:,"obsat"])

In [5]:
df.head()

,date,client,industry,location,closedpos,skills,type,gender,currloc,jobloc,...,permit,meeting,call,no.,resume,clear,letter,expat,obsat,marit
0,2015-02-13,H,P,C,Production- Sterile,Routine,SW,Male,C,H,...,Y,Y,Y,Y,Y,Y,Y,Y,0,Single
1,2015-02-13,H,P,C,Production- Sterile,Routine,SW,Male,C,B,...,Y,Y,Y,Y,Y,Y,Y,Y,0,Single
3,2015-02-13,H,P,C,Production- Sterile,Routine,SW,Male,C,C,...,Y,Y,N,Y,N,Y,Y,N,0,Single
4,2015-02-13,H,P,C,Production- Sterile,Routine,SW,Male,C,B,...,Y,Y,Y,N,Y,Y,Y,N,0,Married
5,2015-02-13,A,I,G,Selenium testing,Routine,SW,Male,G,G,...,Y,Y,Y,Y,Y,Y,Y,Y,1,Single

In [6]:
for col in["client",'industry','location','closedpos','type','skills','gender','currloc','jobloc','venue','expat','permit','marit']:
    x=df[col].unique()
    cn=dict()
    cn1=dict()
    cn2=dict()
    for i in x:
        cn[i]=df[df[col]==i].shape[0]
        cn1[i]=df[(df[col]==i) & (df.obsat==1)].shape[0]
        cn2[i]=df[(df[col]==i) & (df.obsat==0)].shape[0]
    
    for i,series in df.iterrows():
        if(series.obsat==1):
            df[col][i]=cn1[series[col]]/cn[series[col]]
        else:
            df[col][i]=cn2[series[col]]/cn[series[col]]

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [7]:
df.head()

,date,client,industry,location,closedpos,skills,type,gender,currloc,jobloc,...,permit,meeting,call,no.,resume,clear,letter,expat,obsat,marit
0,2015-02-13,0.52459,0.379032,0.335269,1,0.434783,0.319767,0.308192,0.335269,1,...,0.274701,Y,Y,Y,Y,Y,Y,0.261017,0,0.317742
1,2015-02-13,0.52459,0.379032,0.335269,1,0.434783,0.319767,0.308192,0.335269,0.28934,...,0.274701,Y,Y,Y,Y,Y,Y,0.261017,0,0.317742
3,2015-02-13,0.52459,0.379032,0.335269,1,0.434783,0.319767,0.308192,0.335269,0.326788,...,0.274701,Y,N,Y,N,Y,Y,0.777778,0,0.317742
4,2015-02-13,0.52459,0.379032,0.335269,1,0.434783,0.319767,0.308192,0.335269,0.28934,...,0.274701,Y,Y,N,Y,Y,Y,0.777778,0,0.304945
5,2015-02-13,0.770833,0.714286,0.69697,0.8,0.565217,0.680233,0.691808,0.69697,0.705882,...,0.725299,Y,Y,Y,Y,Y,Y,0.738983,1,0.682258

In [8]:
X=df[["client","industry","location","type","gender","currloc","jobloc","expat","marit"]]
y=df["obsat"]

In [9]:
from sklearn import naive_bayes
from sklearn import preprocessing
from sklearn import model_selection
from sklearn import tree
from sklearn import ensemble
from sklearn import utils
Xtrain,Xtest,ytrain,ytest=model_selection.train_test_split(X,y,test_size=0.25,random_state=42)
model=naive_bayes.MultinomialNB()
model.fit(Xtrain,ytrain)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [10]:
pred_train=model.predict(Xtrain)
pred_test=model.predict(Xtest)
import sklearn
print(sklearn.metrics.classification_report(ytrain,pred_train))
print(sklearn.metrics.classification_report(ytest,pred_test))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       231
           1       0.69      1.00      0.81       507

   micro avg       0.69      0.69      0.69       738
   macro avg       0.34      0.50      0.41       738
weighted avg       0.47      0.69      0.56       738

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        77
           1       0.69      1.00      0.81       169

   micro avg       0.69      0.69      0.69       246
   macro avg       0.34      0.50      0.41       246
weighted avg       0.47      0.69      0.56       246

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [11]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(criterion="entropy")
rfc.fit(Xtrain,ytrain)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [12]:
prediction=rfc.predict(Xtest)
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print (classification_report(ytrain,rfc.predict(Xtrain)))
print (classification_report(ytest,prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       231
           1       1.00      1.00      1.00       507

   micro avg       1.00      1.00      1.00       738
   macro avg       1.00      1.00      1.00       738
weighted avg       1.00      1.00      1.00       738

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        77
           1       1.00      1.00      1.00       169

   micro avg       1.00      1.00      1.00       246
   macro avg       1.00      1.00      1.00       246
weighted avg       1.00      1.00      1.00       246

In [13]:
print(confusion_matrix(ytrain,rfc.predict(Xtrain)))
print(confusion_matrix(ytest,rfc.predict(Xtest)))

[[231   0]
 [  0 507]]
[[ 77   0]
 [  0 169]]

In [14]:
print(accuracy_score(ytest,prediction))

1.0

In [15]:
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
nfolds=8
rfc=GridSearchCV(rfc,cv=nfolds,scoring='accuracy',param_grid={'max_features':['auto', 'sqrt', 'log2']})
rfc.fit(Xtrain,ytrain)

GridSearchCV(cv=8, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_features': ['auto', 'sqrt', 'log2']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [16]:
scores=rfc.cv_results_

In [17]:
pd.DataFrame(scores).head()

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split3_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split4_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split5_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split6_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split7_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,...,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,split5_train_score,split6_train_score,split7_train_score,mean_train_score,std_train_score
0,0.012716,0.001647,0.002236,0.000372,auto,{'max_features': 'auto'},1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,0.012543,0.001256,0.002706,0.000580,sqrt,{'max_features': 'sqrt'},1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,0.012382,0.001783,0.002048,0.000765,log2,{'max_features': 'log2'},1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

In [1]:
import xgboost

ModuleNotFoundError: No module named 'xgboost'